@media (min-width:900px){
  body{
    padding-top:0;padding-left:17rem
  }
}

#sideNav .navbar-nav .nav-item .nav-link{
  font-weight:600;
  text-transform:uppercase;
}

@media (min-width:900px){
  #sideNav{
    text-align:center;
    position:fixed;
    top:200;
    left:0;
    display:flex;
    flex-direction:column;
    width:17rem;
    height:100vh
  }
}}

a{
  color:#345ba3;
}
a:active,a:focus,a:hover{
  color:#b3702d;

}

body {
background-color: #d3e7ed;
}
